@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


body {
    font-family: Readex Pro, Geneva, Tahoma, sans-serif;
}

.navbar {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.container h1 {
    color: #b9221c;
    font-size: 3em;
}

.container h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #b9221c;
}

.container p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.animate-slide {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 1s ease-out;
}

.animate-slide.in-view {
    opacity: 1;
    transform: translateX(0);
}

#life-buoy-image {
    width: 50%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 30px auto 30px auto;
}

#cpr-training-image {
    width: 45%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 30px auto 30px auto;
}

/* Benefits List Enhancements */
.benefits-list {
    background: #f9f9f9;
    /* Light grey background */
    border-radius: 15px;
    /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    padding: 2rem;
    /* Spacing inside the container */
    max-width: 800px;
    /* Set a max-width for large screens */
    margin: auto;
    /* Center the block */
}

.benefits-list li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    /* Slightly larger font size for readability */
    color: #333;
    /* Darker text color for contrast */
    list-style: none;
    /* Remove default list style */
}

.benefits-list li::before {
    content: "\2713\0020";
    /* Add a checkmark before each item */
    color: #b9221c;
    /* Theme color for the checkmark */
    font-weight: bold;
    /* Bold checkmark */
}




/* Footer Styling */
footer {
    background-color: #f8f9fa;
    /* Light background for the upper part */
    color: black;
    /* Text color */
}

footer a {
    color: black;
    /* Ensures links are appropriately colored for readability */
}

footer a:hover {
    text-decoration: none;
    /* Smooth hover effect without underline */
    color: #0056b3;
    /* Link hover color */
}

footer .bg-dark {
    background-color: #343a40 !important;
    /* Dark background for the lower part */
}

#footerHeading, #footerContact, #footerLinks {
    color: #b9221c;
}

/* Media Queries */

@media (max-width: 991.98px) {
    .navbar-toggler {
        float: none;
        display: block;
        margin: 0 auto;
    }

    .navbar-brand.mx-auto.d-lg-none {
        float: none;
        display: block;
        margin-bottom: 0.5rem;
    }

    .navbar-collapse {
        clear: both;
    }
}

@media (min-width: 992px) {
    .navbar-brand.d-none.d-lg-block {
        margin-left: 50px;
    }

    .navbar-nav {
        margin-right: 50px;
    }

    .navbar-nav .nav-item .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }
}